In [1]:
6 + 9

15

In [2]:
8 - 4

4

In [3]:
7 * 7

49

In [4]:
50 - 5*6

20

In [5]:
(50 - 5*6) / 4

5.0

In [6]:
8 / 5

1.6

In [7]:
17 / 3  # classic division returns a float

5.666666666666667

In [8]:
17 // 3  # floor division discards the fractional part

5

In [9]:
17 % 3  # the % operator returns the remainder of the division

2

In [10]:
5 * 3 + 2  # floored quotient * divisor + remainder

17

In [11]:
5 ** 2  # 5 squared

25

In [12]:
2 ** 7  # 2 to the power of 7

128

In [13]:
width = 20
height = 5 * 9
width * height

900

In [19]:
def area(width, height):
    return width * height
area (9,2)

18

If a variable is not “defined” (assigned a value), trying to use it will give you an error:

In [20]:
n  # try to access an undefined variable
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'n' is not defined

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4042600222.py, line 2)

In [21]:
4 * 3.75 - 1

14.0

In [22]:
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

In [23]:
tax = 12.5 / 100
print(tax)

0.125

In [24]:
price = 100.50

In [25]:
price * tax

12.5625

In [26]:
'spam eggs'  # single quotes

'spam eggs'

In [27]:
"Paris rabbit got your back :)! Yay!"  # double quotes

'Paris rabbit got your back :)! Yay!'

In [28]:
'1975'

'1975'

In [29]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [30]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [31]:
'"Yes," they said.'

'"Yes," they said.'

In [32]:
"\"Yes,\" they said."

'"Yes," they said.'

In [33]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [34]:
'"Isn\"," they said.'

'"Isn"," they said.'

In [35]:
s = 'First line.\nSecond line.'  # \n means newline
s  # without print(), special characters are included in the string
'First line.\nSecond line.'
print(s)  # with print(), special characters are interpreted, so \n produces new line

First line.
Second line.

In [36]:
s = 'First line. \nSecond line'# \n means newline
s # without print(), special character are included in the string

'First line. \nSecond line'

In [37]:
print(s) # with print(), speccial characters are interpreted, so \n produces new line

First line.
Second line

In [38]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

In [39]:
print(r'C:\some\name')  # note the r before the quote

C:\some\name

In [40]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [41]:
print(""" Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

 Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [42]:
# 3 times 'un', followed by 'ium'
3 * ('un' +'n'+ 'tu') + 'ium'

'unntuunntuunntuium'

In [43]:
'Py' 'thon'

'Python'

In [44]:
p = 'Put several strings within parentheses \nto have them joined together.'
print (p)

Put several strings within parentheses
to have them joined together.

In [45]:
s = 'First line.\nSecond line \ncurrent.'  # \n means newline
s  # without print(), special characters are included in the string

'First line.\nSecond line \ncurrent.'

In [46]:
text = 'Put several strings within parentheses \nto have them joined together.'
print(text)

Put several strings within parentheses
to have them joined together.

In [47]:
prefix = 'Py'
prefix 'thon'  # can't concatenate a variable and a string literal
  File "<stdin>", line 1
    prefix 'thon'
           ^^^^^^
SyntaxError: invalid syntax
('un' * 3) 'ium'
  File "<stdin>", line 1
    ('un' * 3) 'ium'
               ^^^^^
SyntaxError: invalid syntax

SyntaxError: invalid syntax (269194967.py, line 2)

In [48]:
prefix = 'Py'
prefix + 'thon'

'Python'

In [49]:
word = 'Python'
word[0]  # character in position 0

'P'

In [50]:
word[-2]  # second-last character

'o'

In [51]:
word[-1]  # last character

'n'

In [52]:
word[-2]  # second-last character

'o'

In [53]:
word[-6]

'P'

In [54]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [55]:
word = 'Python'
word[0]  # character in position 0

'P'

In [56]:
word[1]

'y'

In [57]:
word[2]

't'

In [58]:
word[3]

'h'

In [59]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [60]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

In [61]:
word[:2]   # character from the beginning to position 2 (excluded)

word[4:]   # characters from position 4 (included) to the end

word[-2:]  # characters from the second-last (included) to the end

'on'

In [62]:
word[:2]   # character from the beginning to position 2 (excluded)

'Py'

In [63]:
word[4:]   # characters from position 4 (included) to the end

'on'

In [64]:
word[-2:]  # characters from the second-last (included) to the end

'on'

In [65]:
word[:2] + word[2:]

'Python'

In [66]:
word[:4] + word[4:]

'Python'

In [67]:
word[4:42]

'on'

In [68]:
word[42:]

''

In [69]:
'J' + word[1:]

'Jython'

In [70]:
word[:2] + 'py'

'Pypy'

In [71]:
s = 'supercalifragilisticexpialidociousiout'
len(s)

38

list

In [72]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [73]:
squares[0]  # indexing returns the item

1

In [74]:
squares[3]  # indexing returns the item

16

In [75]:
squares[-1]

25

In [76]:
squares[-3:]

[9, 16, 25]

In [77]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [78]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here

In [79]:
4 ** 3  # the cube of 4 is 64, not 65

64

In [80]:
cubes[3] = 64  # replace the wrong value
cubes

[1, 8, 27, 64, 125]

In [81]:
cubes.append(216)  # add the cube of 6
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343]

In [82]:
rgb = ["Red", "Green", "Blue"]
rgba = rgb

In [83]:
id(rgb) == id(rgba)  # they reference the same object

True

In [84]:
rgba.append("Alph")

In [85]:
rgb

['Red', 'Green', 'Blue', 'Alph']

In [86]:
correct_rgba = rgba[:]

In [87]:
correct_rgba[-1] = "Alpha"

In [88]:
correct_rgba

['Red', 'Green', 'Blue', 'Alpha']

In [89]:
rgba

['Red', 'Green', 'Blue', 'Alph']

In [90]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [91]:
# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [92]:
# now remove them
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [93]:
# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

In [94]:
# The built-in function len() also applies to lists:
letters = ['a', 'b', 'c', 'd', 't']
len(letters)

5

In [95]:
# It is possible to nest lists (create lists containing other lists), for example:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [96]:
x[0]

['a', 'b', 'c']

In [97]:
x[1]

[1, 2, 3]

In [98]:
x[1][1]

2

In [99]:
# First Steps Towards Programming
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1
while a < 40:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8
13
21
34

In [100]:
i = 256*256
print('The value of i is', i)

The value of i is 65536

In [101]:
a, b = 0, 1
while a < 1000:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

In [102]:
# If statement
x = int(input("Please enter an integer: "))

if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Please enter an integer:  4

More

In [103]:
x = int(input("Please enter an integer: "))

if x < 0:
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Please enter an integer:  7

More

In [104]:
i = 20

 # Checking if i is greater than 0
if i > 0:
    print("i is positive")
else:
    print("i is 0 or Negative")

i is positive

In [105]:
age = 7
exp = 4

# Using '>' operator & 'and' with if-else
if age > 23 and exp > 8:
    print("Eligible.")
elif age <= 6 and exp <= 3:
    print("semiEligible.")
else:
    print("Not eligible.")

Not eligible.

In [106]:
i = 25

 # Checking if i is equal to 10
if i == 10:
    print("i is 10")
 # Checking if i is equal to 15

elif i == 15:
    print("i is 15")
 # Checking if i is equal to 20

elif i == 20:
    print("i is 20")
    
 # If none of the above conditions are true
else:
    print("i is not present")

i is not present

In [107]:
# Measure some strings:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [108]:
# Create a sample collection
users = {'Hans': 'active', 'Éléonore': 'inactive', '景太郎': 'active'}

# Strategy:  Iterate over a copy
for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]

In [109]:
# Strategy:  Create a new collection
active_users = {}
for user, status in users.items():
    if status == 'active':
        active_users[user] = status

In [110]:
import subprocess
import os

def delete_system_user(username):
    # This script must be run with sudo/root privileges
    if os.geteuid() != 0:
        print("[!] Please run this script with sudo.")
        return

    confirmation = input(f"Are you sure you want to delete '{username}'? (yes/no): ").lower()
    if confirmation == "yes":
        try:
            # The '-r' flag removes the user's home directory and mail spool
            subprocess.run(['userdel', '-r', username], check=True)
            print(f"[+] User '{username}' deleted successfully.")
        except subprocess.CalledProcessError as e:
            print(f"[!] Failed to delete user: {e}")
    else:
        print("[*] Deletion cancelled.")

In [111]:
for i in range(5):
    print(i)

0
1
2
3
4

In [112]:
for i in range (8):
    print(i)

0
1
2
3
4
5
6
7

In [113]:
list(range(7, 12))

[7, 8, 9, 10, 11]

In [114]:
list(range(17,26))

[17, 18, 19, 20, 21, 22, 23, 24, 25]

In [115]:
list(range(0, 10, 3))

[0, 3, 6, 9]

In [116]:
list(range (0, 23, 4))

[0, 4, 8, 12, 16, 20]

In [117]:
list(range(-10, -100, -30))

[-10, -40, -70]

In [118]:
list (range (-45, -500, -40))

[-45, -85, -125, -165, -205, -245, -285, -325, -365, -405, -445, -485]

In [119]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [120]:
t = ["dhaka", "india", "london", "seoul"]
for i in range (len(t)):
    print (i, t [i])

0 dhaka
1 india
2 london
3 seoul

In [121]:
range(10)

range(0, 10)

In [122]:
sum(range(4))  # 0 + 1 + 2 + 3

6

In [123]:
(range (8, 3))

range(8, 3)

In [124]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(f"{n} equals {x} * {n//x}")
            break

4 equals 2 * 2
6 equals 2 * 3
8 equals 2 * 4
9 equals 3 * 3

In [125]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(f"{n} equals {x} * {n//x}")

4 equals 2 * 2
6 equals 2 * 3
6 equals 3 * 2
8 equals 2 * 4
8 equals 4 * 2
9 equals 3 * 3

In [126]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(f"{n} equals {x} * {n//x}")
        else:
            break

4 equals 2 * 2
6 equals 2 * 3
6 equals 3 * 2
8 equals 2 * 4

In [127]:
for n in range(2, 10):
    print(n)

2
3
4
5
6
7
8
9

In [128]:
for num in range(2, 10):
    if num % 2 == 0:
        print(f"Found an even number {num}")
        continue
    print(f"Found an odd number {num}")

Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9

In [129]:
for num in range(2, 10):
    if num % 2 == 0:
        print(f"Found an even number {num}")
        continue
    else:
        print(f"Found an odd number {num}")

Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9

In [130]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [131]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [132]:
class MyEmptyClass:
    pass

In [133]:
def initlog(*args):
    pass   # Remember to implement this!

In [134]:
def http_error(status):
    match status:
        case 400:
            return "Bad request"
        case 404:
            return "Not found"
        case 418:
            return "I'm a teapot"
        case _:
            return "Something's wrong with the internet"

In [135]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

def where_is(point):
    match point:
        case Point(x=0, y=0):
            print("Origin")
        case Point(x=0, y=y):
            print(f"Y={y}")
        case Point(x=x, y=0):
            print(f"X={x}")
        case Point():
            print("Somewhere else")
        case _:
            print("Not a point")

In [139]:
from enum import Enum
class Color(Enum):
    RED = 'red'
    GREEN = 'green'
    BLUE = 'blue'

color = Color(input("Enter your choice of 'red', 'blue' or 'green': "))

match color:
    case Color.RED:
        print("I see red!")
    case Color.GREEN:
        print("Grass is green")
    case Color.BLUE:
        print("I'm feeling the blues :(")

Enter your choice of 'red', 'blue' or 'green':  red

I see red!

In [140]:
def fib(n):    # write Fibonacci series less than n
    """Print a Fibonacci series less than n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

# Now call the function we just defined:
fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [141]:
def add_numbers(a, b):
    """Adds two numbers and returns the sum."""
    sum_result = a + b
    return sum_result
# Calling the function and storing the result
total = add_numbers(3, 4)
print("The sum is:", total)

The sum is: 7

In [142]:
def evenOdd(x):
    if (x % 2 == 0):
        return "Even"
    else:
        return "Odd"

print(evenOdd(16))
print(evenOdd(7))

Even
Odd

In [143]:
# Define the function
def add_numbers(a, b):
    sum_result = a + b
    return sum_result

# Call the function and store the result
result = add_numbers(5, 3)

# Print the result
print(f"The sum is: {result}")

The sum is: 8

In [144]:
# defining function
def func():
    print("Hello")

# calling function    
func()

Hello

In [145]:
def fib(n):    # write Fibonacci series less than n
    """Print a Fibonacci series less than n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

# Now call the function we just defined:
fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [146]:
def fib2(n):  # return Fibonacci series up to n
    """Return a list containing the Fibonacci series up to n."""
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)    # see below
        a, b = b, a+b
    return result

f100 = fib2(100)    # call it
f100                # write the result

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [147]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        reply = input(prompt)
        if reply in {'y', 'ye', 'yes'}:
            return True
        if reply in {'n', 'no', 'nop', 'nope'}:
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

In [148]:
i = 78

def f(arg=i):
    print(arg)

f()

78

In [149]:
def f(a, L=[]):
    L.append(a)
    return L

print(f(1))
print(f(2))
print(f(3))
print(f(9))

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 9]

In [150]:
def f(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L

In [151]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

In [152]:
def standard_arg(arg):
    print(arg)

def pos_only_arg(arg, /):
    print(arg)

def kwd_only_arg(*, arg):
    print(arg)

def combined_example(pos_only, /, standard, *, kwd_only):
    print(pos_only, standard, kwd_only)

In [153]:
def area (length, width):
    area = length * width
    return area
area (4,3)

12

Data Structure

In [154]:
# Define the function
def add_numbers(a, b):
    sum_result = a + b
    return sum_result

# Call the function and store the result
result = add_numbers(5, 3)

# Print the result
print(f"The sum is: {result}")

The sum is: 8

In [155]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana', 'boroi', 'banana']
fruits.count('apple')

2

In [156]:
fruits.count('tangerine')

0

In [157]:
fruits.count ("banana")

3

In [158]:
fruits.index ("banana")

3

In [159]:
fruits.index('banana', 4)  # Find next banana starting at position 4

6

In [160]:
fruits.index('banana', 7 ,9)  # Find next banana starting at position 7 and end 9

8

In [161]:
fruits.reverse()
fruits

['banana',
 'boroi',
 'banana',
 'apple',
 'kiwi',
 'banana',
 'pear',
 'apple',
 'orange']

In [162]:
fruits.append('grape')
fruits

['banana',
 'boroi',
 'banana',
 'apple',
 'kiwi',
 'banana',
 'pear',
 'apple',
 'orange',
 'grape']

In [163]:
fruits.sort()
fruits

['apple',
 'apple',
 'banana',
 'banana',
 'banana',
 'boroi',
 'grape',
 'kiwi',
 'orange',
 'pear']

In [164]:
fruits.pop()

'pear'

In [165]:
fruits

['apple',
 'apple',
 'banana',
 'banana',
 'banana',
 'boroi',
 'grape',
 'kiwi',
 'orange']

In [166]:
fruits.pop()

'orange'

In [167]:
fruits

['apple', 'apple', 'banana', 'banana', 'banana', 'boroi', 'grape', 'kiwi']

numbers = [1, 2, 3, 4, 3, 2, 1]
index = numbers.index(3, start=2, end=5)

In this example, we are searching for the index of the number 40 within a specific range of the list from index 4 to 7 .

In [168]:
a = [10, 20, 30, 40, 50, 40, 60, 40, 70]

res = a.index(40, 4, 8)
print(res)

5

In [169]:
stack = [3, 4, 5]

In [170]:
stack.append(6)

In [171]:
stack.append(7)

In [172]:
stack

[3, 4, 5, 6, 7]

In [173]:
stack.pop()

7

In [174]:
stack

[3, 4, 5, 6]

In [175]:
stack.pop(2)

5

In [176]:
stack

[3, 4, 6]

In [177]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives

In [178]:
queue

deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])

In [179]:
queue.popleft()                 # The first to arrive now leaves

'Eric'

In [180]:
queue

deque(['John', 'Michael', 'Terry', 'Graham'])

In [181]:
queue.popleft()                 # The second to arrive now leaves

'John'

In [182]:
queue

deque(['Michael', 'Terry', 'Graham'])

In [183]:
squares = []
for x in range(10):
    squares.append(x**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [184]:
squares = list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [185]:
squares = [x**3 for x in range(10)]
squares

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [186]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [187]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))

combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [188]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x == y:
            combs.append((x, y))

combs

[(1, 1), (3, 3)]

In [189]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x >= y:
            combs.append((x, y))

combs

[(1, 1), (2, 1), (3, 3), (3, 1)]

In [190]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x <= y]

[(1, 3), (1, 1), (1, 4), (2, 3), (2, 4), (3, 3), (3, 4)]

In [191]:
vec = [-4, -2, 0, 2, 4]

In [192]:
[x*2 for x in vec] # create a new list with the values doubled

[-8, -4, 0, 4, 8]

In [193]:
[x**2 for x in vec] # create a new list with the values doubled

[16, 4, 0, 4, 16]

In [194]:
[x for x in vec if x >= 0] # filter the list to exclude negative numbers

[0, 2, 4]

In [195]:
[abs(x) for x in vec] # apply a function to all the elements

[4, 2, 0, 2, 4]

In [196]:
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']

In [197]:
[weapon.strip() for weapon in freshfruit] # call a method on each element

['banana', 'loganberry', 'passion fruit']

In [198]:
[(x, x**2) for x in range(6)] # create a list of 2-tuples like (number, square)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [199]:
vec = [[1,2,3], [4,5,6], [7,8,9]] # flatten a list using a listcomp with two 'for'
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [200]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [201]:
def algebra2 (y, z):
    return (y+z)**2
algebra2(5,2)

49

In [202]:
def algebra3 (y, z):
    return y**2 + 2*y*z + z**2
algebra3(5,2)

49

In [203]:
def key1 (y,z):
    return ((y-z**2)**4 + (y**2+z))/z**2
key1 (5, 2)

7.0

In [204]:
def key2 (y,z):
    return (y+z)**2/(y+z)
key2(5,2)

7.0

In [205]:
if key1 == key2:
    print("True")
else:
    False-

SyntaxError: invalid syntax (1083914373.py, line 4)

In [206]:
def rayyan1 (x,y,z,a):
    return (-y+z**2/a)+(((10*x/4*z)-1+z-3*a) + x**3 + y**2)/10*x
rayyan1(20,70,50,10)

31018.0

In [207]:
def rayyan2 (x,y,z,a):
    return (((-y + z**2/a - 3*a)/z + 1) + x**3 + y**2)/10*x
rayyan2 (20,70,50,10)

25808.0

In [208]:
def rayyan2 (x,y,z,a):
    return (10*x/4*z)
rayyan2 (20,70,50,10)

2500.0

Section 5 : Data Structure

In [209]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

In [210]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [211]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [212]:
transposed = []
for i in range(4):
    # the following 3 lines implement the nested listcomp
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [213]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [214]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [215]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [216]:
del a[:]
a

[]

In [217]:
del a

In [218]:
t = 12345, 54321, 'hello!'
t[0]

12345

In [219]:
t [2]

'hello!'

In [220]:
t

(12345, 54321, 'hello!')

In [221]:
u = t, (1, 2, 3, 4, 5)

In [222]:
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [223]:
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [224]:
v = ([1, 2, 3], [3, 2, 1])
v

([1, 2, 3], [3, 2, 1])

In [225]:
empty = ()
singleton = 'hello',    # <-- note trailing comma
len(empty)

0

In [226]:
len(singleton)

1

In [227]:
singleton

('hello',)

5.4. Sets

In [228]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'pear', 'banana', 'orange', 'apple'}

In [229]:
'orange' in basket

True

In [230]:
'crabgrass' in basket

False

In [231]:
a = set('abracadabra')
b = set('alacazam')
a

{'a', 'b', 'c', 'd', 'r'}

In [232]:
b  # unique letters in a

{'a', 'c', 'l', 'm', 'z'}

In [233]:
a - b  # letters in a but not in b

{'b', 'd', 'r'}

In [234]:
a | b    # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [235]:
a & b  # letters in both a and b

{'a', 'c'}

In [236]:
a ^ b  # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [237]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

## Dictionaries

In [238]:
tel = {'jack': 4098, 'sape': 4139}

In [239]:
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [240]:
tel['jack']

4098

In [241]:
del tel['sape']

In [242]:
tel['irv'] = 4127
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [243]:
list(tel)

['jack', 'guido', 'irv']

In [244]:
sorted(tel)

['guido', 'irv', 'jack']

In [245]:
'guido' in tel

True

In [246]:
'jack' not in tel

False

In [247]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [248]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [249]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [250]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [251]:
{"abir":2, "bava":4}

{'abir': 2, 'bava': 4}

## Loop Technique

When looping through dictionaries, the key and corresponding value can be retrieved at the same time using the items() method.

In [252]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [257]:
knights = {'gallahad': 'the pure', 'robin': 'the brave', 'taher': 'he is a good boy}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave
taher he is a good boy

In [258]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe